ansi2html==1.9.1 ; python_version >= "3.9" and python_version < "3.13"
blinker==1.7.0 ; python_version >= "3.9" and python_version < "3.13"
cachetools==5.3.2 ; python_version >= "3.9" and python_version < "3.13"
certifi==2023.11.17 ; python_version >= "3.9" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.13" and platform_system == "Windows"
colour-checker-detection @ git+https://github.com/colour-science/colour-checker-detection.git@0a1f9494843c5156c551bb6de8884298d6af053d ; python_version >= "3.9" and python_version < "3.13"
colour-datasets==0.2.5 ; python_version >= "3.9" and python_version < "3.13"
colour-science==0.4.4 ; python_version >= "3.9" and python_version < "3.13"
contourpy==1.2.0 ; python_version >= "3.9" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "3.13"
dash==2.14.2 ; python_version >= "3.9" and python_version < "3.13"
dash-bootstrap-components==1.5.0 ; python_version >= "3.9" and python_version < "3.13"
dash-core-components==2.0.0 ; python_version >= "3.9" and python_version < "3.13"
dash-html-components==2.0.0 ; python_version >= "3.9" and python_version < "3.13"
dash-renderer==1.9.1 ; python_version >= "3.9" and python_version < "3.13"
dash-table==5.0.0 ; python_version >= "3.9" and python_version < "3.13"
dash-uploader==0.6.0 ; python_version >= "3.9" and python_version < "3.13"
flask==3.0.1 ; python_version >= "3.9" and python_version < "3.13"
fonttools==4.47.2 ; python_version >= "3.9" and python_version < "3.13"
gunicorn==21.2.0 ; python_version >= "3.9" and python_version < "3.13"
idna==3.6 ; python_version >= "3.9" and python_version < "3.13"
imageio==2.33.1 ; python_version >= "3.9" and python_version < "3.13"
importlib-metadata==7.0.1 ; python_version >= "3.9" and python_version < "3.13"
importlib-resources==6.1.1 ; python_version >= "3.9" and python_version < "3.10"
itsdangerous==2.1.2 ; python_version >= "3.9" and python_version < "3.13"
jinja2==3.1.3 ; python_version >= "3.9" and python_version < "3.13"
jsonpickle==2.2.0 ; python_version >= "3.9" and python_version < "3.13"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_version < "3.13"
markupsafe==2.1.4 ; python_version >= "3.9" and python_version < "3.13"
matplotlib==3.8.2 ; python_version >= "3.9" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_version >= "3.9" and python_version < "3.13"
networkx==2.8.8 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.26.3 ; python_version >= "3.9" and python_version < "3.13"
opencv-python==4.9.0.80 ; python_version >= "3.9" and python_version < "3.13"
packaging==21.3 ; python_version >= "3.9" and python_version < "3.13"
pillow==10.2.0 ; python_version >= "3.9" and python_version < "3.13"
plotly==5.18.0 ; python_version >= "3.9" and python_version < "3.13"
pyparsing==3.1.1 ; python_version >= "3.9" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.9" and python_version < "3.13"
retrying==1.3.4 ; python_version >= "3.9" and python_version < "3.13"
scipy==1.12.0 ; python_version >= "3.9" and python_version < "3.13"
setuptools==69.0.3 ; python_version >= "3.9" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.13"
tenacity==8.2.3 ; python_version >= "3.9" and python_version < "3.13"
tqdm==4.66.1 ; python_version >= "3.9" and python_version < "3.13"
typing-extensions==4.9.0 ; python_version >= "3.9" and python_version < "3.13"
urllib3==2.2.0 ; python_version >= "3.9" and python_version < "3.13"
werkzeug==3.0.1 ; python_version >= "3.9" and python_version < "3.13"
xlrd==1.2.0 ; python_version >= "3.9" and python_version < "3.13"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "3.13"
