attrs==21.2.0
backports.entry-points-selectable==1.1.0
Brotli==1.0.9
cachetools==4.2.2
cfgv==3.0.0
click==8.0.1
colour-datasets==0.1.1
git+git://github.com/colour-science/colour@develop#egg=colour
coverage==5.5
dash==1.21.0
dash-bootstrap-components==0.13.0
dash-core-components==1.17.1
dash-html-components==1.1.4
dash-renderer==1.9.1
dash-table==4.12.0
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
gunicorn==20.1.0
identify==1.6.2
imageio==2.9.0
iniconfig==1.1.1
invoke==1.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
nodeenv==1.6.0
nose==1.3.7
numpy==1.19.5
packaging==21.0
Pillow==8.3.1
pip==21.1.1
platformdirs==2.2.0
plotly==5.2.1
pluggy==0.13.1
pre-commit==2.1.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
PyYAML==5.4.1
scipy==1.5.4
setuptools==56.2.0
six==1.16.0
tenacity==8.0.1
toml==0.10.2
tqdm==4.62.0
virtualenv==20.7.2
Werkzeug==2.0.1
wheel==0.36.2
xlrd==2.0.1
yapf==0.23.0
