body {
    background-color: rgb(252, 252, 251) !important;
}

a {
    color: rgb(193, 161, 56) !important;
}

#apps {
    padding: 0 !important;
}

#aces-logo {
    display: inline-block;
    height: 75px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#app-title {
    color: rgb(193, 161, 56) !important;
    padding-top: 0.5em;
}

.navbar {
    background-color: #323232 !important;
}

.nav-item {
    font-size: x-large;
}

/* Dangerous as it destroys this particular style... */
.ms-auto {
    margin-left: 0 !important;
}

.tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab--selected {
    border-top: 2px solid rgb(193, 161, 56) !important;
}

.tab-content {
    padding-top: 1em !important;
}

.dash-uploader-default, .dash-uploader-complete {
    background-color: rgba(33, 37, 41, 0.03) !important;
}

.btn-primary {
    background-color: rgb(193, 161, 56) !important;
    border-color: rgb(193, 161, 56) !important;
}

.nav-link.active {
}

.progress-value {
    display: none !important;
}
